{% extends 'game/base.html' %}

{% block content %}

  <div class='container'>
    <h2>Login</h2>
      <form action="{% url 'users:login_user' %}" method="post">
        {% csrf_token %}
        <div class='flex-container-users'>
          <div>
            <p>Username</p>
          </div>
          <div>
            <input type="text" value="username" name="username" />
          </div>
        </div>
        <div class='flex-container-users'>
          <div>
            <p>Password</p>
          </div>
          <div>
            <input type="password" value='password' name="password"/>
          </div>
        </div>
<br>
<div class='flex-container'>
        <button type="submit"><h4>login</h4></button>
        </div>
    </form>


            <h2>Create an Account</h2>
            <form action="{% url 'users:register_user' %}" method="post">
                {% csrf_token %}
                <div class='flex-container-users'>
                    <div>
                      <p>Username</p>
                    </div>
                    <div>
                      <input type="text" name="username"/>
                    </div>
                </div>

                <div class='flex-container-users'>
                    <div>
                      <p>  Email</p>
                    </div>
                    <div>
                      <input type="text" name="email"/>
                    </div>
                </div>

                <div class='flex-container-users'>
                    <div>
                      <p>Password</p>
                    </div>
                    <div>
                      <input type="password" name="password"/>
                    </div>
                </div>
                <br>
                <div class='flex-container'>
                  <button type="submit"><h4>sign up</h4></button>
                </div>
            </form>


</div>
{% endblock %}
