{% extends 'game/base.html' %}

{% block content %}

<div  class='container'>

  <h2>Ready, Set, Kind</h2>

  <div>
    <p>Welcome to the game Ready, Set, Kind. Please click the button below to login and play.</p>
    <p>More information here about the project, probably a link to Speak Your Kind, etc. orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div class='flex-container'>
    <form action="{% url 'users:register' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <button type="submit"><h4>Login or Create Account<h4></button>
    </form>
  </div>

</div>
{% endblock %}
