{% extends 'game/base.html' %}

{% block content %}

<div  class='container'>

  <h2>Ready, Set, Kind</h2>
  <h3>Welcome, {{user.username}}</h3>

<div class='score_box'>
  <div class="flex-container3" id="player_score">

    <div>Player</div>
    <div style="text-align:right;">Score</div>

  </div>


    <h5>{% for t in top_scores reversed %}
      <div class='flex-container4'>
      <div>  {{t.username}} </div>
      <div style="text-align:right;"> {{t.saved_scores}}</div>
      </div>
    {% endfor %}
    </h5>

</div>

  <br> <br>

  <div class="flex-container">
    <div>
      <form action="{% url 'game:saved_game' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div><button type="submit"><h4>Current Games</h4></button></div></form>
    </div>

    <div>
      <form action="{% url 'game:game' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div><button type="submit"><h4>New Game</h4></button></div></form>
    </div>
  </div>

  <br> <br>

</div>

<a href="{% url 'users:logout_user' %}">logout</a>

{% endblock %}
